@import "tailwindcss";

@theme {
  --color-primary: #887361;
  --color-secondary: #A48d78;
  --color-accent: #e6dac8;
  --color-background: #faf9f6;
  /* faf9f6  f4f1ea 887361*/

  --font-roboto: "Roboto", sans-serif;
  --font-merienda: "Merienda", cursive;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--color-background);
}

.heading {
  font-family: var(--font-merienda);
}


/* Smooth scroll for anchors */
html {
  scroll-behavior: smooth;
}


/* Custom scrollbar for project descriptions */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
