@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-family: 'Playfair Display';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

